name: "Classifier: Runner"
on:
  schedule:
    - cron: 0 * * * *
  repository_dispatch:
    types: [trigger_classifier_runner]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions
        uses: actions/checkout@v2
        with:
          repository: 'microsoft/vscode-github-triage-actions'
          ref: stable
          path: ./actions
      - name: Install Actions
        run: npm install --production --prefix ./actions
      - name: Install Additional Dependencies
        # Pulls in a bunch of other packages that arent needed for the rest of the actions
        run: npm install @azure/storage-blob@12
      - name: "Run Classifier: Scraper"
        uses: ./actions/classifier/apply/fetch-issues
        with:
          from: 130
          until: 5
          blobContainerName: vscode-remote-release-models
          blobStorageKey: ${{secrets.AZURE_BLOB_STORAGE_CONNECTION_STRING}}
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade numpy scipy scikit-learn joblib nltk
      - name: "Run Classifier: Generator"
        run: python ./actions/classifier/apply/generate-labels/main.py
      - name: "Run Classifier: Labeler"
        uses: ./actions/classifier/apply/apply-labels
        with:
          appInsightsKey: ${{secrets.TRIAGE_ACTIONS_APP_INSIGHTS}}
          config-path: classifier
